body{height:100%;
   width:100%;
   background-image:url(djhome.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   /*css hack for ie*/     
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}
input {

background: #B9DFFF;
left: 550px;
top: 300px; 
color: #fff;

border: 2px solid #eee;
font-size: 20px;
border-radius: 20px;
position:relative;
box-shadow: 5px 5px 5px #eee;

text-shadow:none;

}

input:hover {

background: #016ABC;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;

}
.prediction {
  position:absolute;
  color: black;
  left: 570px;
  top: 350px;
    font-size: 20px;
    font-family: "Times New Roman";
    font-weight:bold;
}